<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title><%= @route.user.phone_number %></title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
	
		var map;
		var directionsDisplay;
		var directionsService = new google.maps.DirectionsService();
	
		function reload() {
			window.location.reload()			
		}
	
		function calcRoute(start, end) {
		  var request = {
		      origin:start,
		      destination:end,
		      travelMode: google.maps.TravelMode.WALKING
		  };
		  directionsService.route(request, function(response, status) {
		    if (status == google.maps.DirectionsStatus.OK) {
		      directionsDisplay.setDirections(response);
		    }
		  });
		}

		function initialize() {
			directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true});
			directionsDisplay.suppressMarkers = true;
			
		  var mapOptions = {
		    zoom: 15,
		    center: new google.maps.LatLng(<%= @route.latitude_start %>,<%= @route.longitude_start %>),
		    mapTypeId: google.maps.MapTypeId.ROADMAP
		  };

		  map = new google.maps.Map(document.getElementById('map-canvas'),
		      mapOptions);

		  var flightPlanCoordinates = [
		  	<% @route.route_steps.each do |route_step| %>
		    new google.maps.LatLng(<%= route_step.latitude %>, <%= route_step.longitude %>),
			<% end %>
		  ];
		  var flightPath = new google.maps.Polyline({
		    path: flightPlanCoordinates,
		    geodesic: true,
		    strokeColor: '#00FF00',
		    strokeOpacity: 0.5,
		    strokeWeight: 5
		  });

		  flightPath.setMap(map);
		  
		  // Draw starting location
		  var infowindows = new google.maps.InfoWindow({
		      content: "<%= @route.user.name %>\'s starting location"
		  });
		  var startLatLon = new google.maps.LatLng(<%= @route.route_steps[0].latitude %>,<%= @route.route_steps[0].longitude %>);
		  var greenPin = '/images/green-pin.png';
		  var markers = new google.maps.Marker({
		        position: startLatLon,
		        map: map,
		        title: '<%= @route.user.name %>\'s starting location',
		        icon: greenPin
		    });
			
			google.maps.event.addListener(markers, 'click', function() {
			      infowindows.open(map,markers);
			    });
		  
		  // Draw ending location
		  var infowindowe = new google.maps.InfoWindow({
		      content: '<%= @route.user.name %>'
		  });
		  var endLatLon = new google.maps.LatLng(<%= @route.route_steps[@route.route_steps.count-1].latitude %>,<%= @route.route_steps[@route.route_steps.count-1].longitude %>);
		  var image = '/images/blueFriendButton-50.png';
		  var markere = new google.maps.Marker({
		        position: endLatLon,
		        map: map,
		        title: '<%= @route.user.name %>',
		        icon: image
		    });
			
			google.maps.event.addListener(markere, 'click', function() {
			      infowindowe.open(map,markere);
			    });
			    
			 // Draw destination
			var infowindowd = new google.maps.InfoWindow({
		      content: '<%= @route.user.name %>\'s Destination'
		  });
		  var dLatLon = new google.maps.LatLng(<%= @route.latitude_end %>,<%= @route.longitude_end %>);
		  var redPin = '/images/pin.png';
		  var markerd = new google.maps.Marker({
		        position: dLatLon,
		        map: map,
		        title: '<%= @route.user.name %>\'s Destination',
		        icon: redPin
		    });
			
			google.maps.event.addListener(markerd, 'click', function() {
			      infowindowd.open(map,markerd);
			    }); 
			    
			directionsDisplay.setMap(map);
			
			var s = new google.maps.LatLng(<%= @route.latitude_start %>,<%= @route.longitude_start %>);
			var e = new google.maps.LatLng(<%= @route.latitude_end %>,<%= @route.longitude_end %>);
			calcRoute(s,e)
		}		

		<% if !@route.complete then %>
			setTimeout(reload, 10000);
		<% end %>

    </script>
  </head>
  <body>	
    <div id="map-canvas"></div>
	<%= yield %>
  </body>
</html>